@model TipCalculatorModel
@{
    ViewData["Title"] = "Tip Calculator";
    Layout = "_LayoutCalculator";
}

<h1>Tip Calculator</h1>
<form asp-action="Index" method="post">
    <div>
        <label asp-for="BillAmount">BillAmount:</label>
        <input asp-for="BillAmount" />
    </div>
    <div>
        <label>15% tip:</label>
        <input value="@ViewBag.Tip15.ToString("C2")" readonly />
    </div>
    <div>
        <label>20% tip:</label>
        <input value="@ViewBag.Tip20.ToString("C2")" readonly />
    </div>
    <div>
        <label>25% tip:</label>
        <input value="@ViewBag.Tip25.ToString("C2")" readonly />
    </div>
    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>
</form>