@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Home Page</title>
    </head>
    <body>
        <h1>Tip Calculator</h1>
        <p>Coming from Controller: @ViewBag.Title</p>
    </body>
</html>